<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <!-- <app-employee-info></app-employee-info> -->
  <!-- <app-employee></app-employee>
  <app-contactus></app-contactus>
  <p>Address: JP Morgan, Mumbai </p>-->
</div>
<div style="padding: 5px">
  <ul class="nav nav-pills">
    <li routerLinkActive="active">
        <a routerLink="home">Home</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="employeeslist">Employees List</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="employees">Employees</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="employeeservice">Employees Service</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="createemployee">Create New Employee</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="items">Shopping Items</a>
    </li>
  </ul>

<router-outlet></router-outlet>
</div>
